.Dropdown {
  position: relative;
}

.Dropdown-menu {
  /* transition: all 5s ease; */

  box-sizing: border-box;
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 9999;
  margin-top: 5px;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
}

.Dropdown-border-style {
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.Dropdown-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  cursor: pointer;
}

.Dropdown-head-selected {
  margin-right: 10px;
  overflow: hidden;
}

.Dropdown-head-selected:hover {
  overflow: auto;
}

.Dropdown-search {
  padding: 10px 15px;
}

.Dropdown-option {
  white-space: nowrap;
  border-top: 1px solid #dddddd;
  overflow: hidden;
  padding: 5px 10px;
  cursor: pointer;
}

.Dropdown-option:hover {
  overflow: auto;
  background-color: #e5e5e5;
}

.Dropdown-all-options {
  padding: 0 5px;
  max-height: 150px;
  overflow: auto;
}
